In [1]:
cd "/Users/TaihuaLi/Desktop/Projects/Netflix Prize/"

/Users/TaihuaLi/Desktop/Projects/Netflix Prize

In [2]:
import numpy as np
import pandas as pd

In [3]:
ratings = pd.read_csv("Rating Zeros.csv", index_col=0) # row: users  col: movies
items = pd.read_csv("items.csv", index_col=0) # movies information
genre = pd.read_csv("genre.csv") # movie genre information

In [4]:
ratings.head(3)

,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
1,5,3,4,3,3,5,4,1,5,3,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
items.head(3)

,Name,Unknown,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantacy,Film.Noir,Horror,Musical,Mystery,Romance,Sci.Fi,Thriller,War,Western
﻿Movie.ID,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [6]:
movie_names = items.Name

In [7]:
movie_names.head(3)

﻿Movie.ID
1     Toy Story (1995)
2     GoldenEye (1995)
3    Four Rooms (1995)
Name: Name, dtype: object

In [8]:
ratings.columns = movie_names

In [9]:
ratings.head(3)

Name,Toy Story (1995),GoldenEye (1995),Four Rooms (1995),Get Shorty (1995),Copycat (1995),Shanghai Triad (Yao a yao yao dao waipo qiao) (1995),Twelve Monkeys (1995),Babe (1995),Dead Man Walking (1995),Richard III (1995),...,Mirage (1995),Mamma Roma (1962),"Sunchaser, The (1996)","War at Home, The (1996)",Sweet Nothing (1995),Mat' i syn (1997),B. Monkey (1998),Sliding Doors (1998),You So Crazy (1994),Scream of Stone (Schrei aus Stein) (1991)
1,5,3,4,3,3,5,4,1,5,3,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
datMat = np.array(ratings); datMat

array([[5, 3, 4, ..., 0, 0, 0],
       [4, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [5, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 5, 0, ..., 0, 0, 0]])

### Matrix Factorization

In [11]:
import time

In [12]:
def matrix_factorization(R, P, Q, K, steps=20, alpha=0.0002, beta=0.02):
    Q = Q.T
    for step in xrange(steps):
        for i in xrange(len(R)):
            for j in xrange(len(R[i])):
                if R[i][j] > 0:
                    eij = R[i][j] - np.dot(P[i,:],Q[:,j])
                    for k in xrange(K):
                        P[i][k] = P[i][k] + alpha * (2 * eij * Q[k][j] - beta * P[i][k])
                        Q[k][j] = Q[k][j] + alpha * (2 * eij * P[i][k] - beta * Q[k][j])
        eR = np.dot(P,Q)
        e = 0
        for i in xrange(len(R)):
            for j in xrange(len(R[i])):
                if R[i][j] > 0:
                    e = e + pow(R[i][j] - np.dot(P[i,:],Q[:,j]), 2)
                    for k in xrange(K):
                        e = e + (beta/2) * (pow(P[i][k],2) + pow(Q[k][j],2))
        if e < 0.001:
            break
    return P, Q.T

In [13]:
N = len(datMat); N

943

In [14]:
M = len(datMat[0]); M

1682

In [33]:
K = 2; K

2

In [34]:
P = np.random.rand(N,K)
Q = np.random.rand(M,K)

In [35]:
ini = time.time()
newP, newQ = matrix_factorization(datMat, P, Q, K)
end = time.time()

In [36]:
print end-ini

62.4423429966

In [37]:
new_dat = np.dot(newP, newQ.T)

In [38]:
new_dat

array([[ 4.3828031 ,  3.47226068,  3.06407167, ...,  2.54513221,
         1.77810848,  1.83015845],
       [ 3.68676912,  2.79868002,  2.65238691, ...,  2.06465533,
         1.2720947 ,  1.69659551],
       [ 3.0036706 ,  2.29647087,  2.15091992, ...,  1.6923132 ,
         1.06631297,  1.36122955],
       ...,
       [ 2.72320093,  2.23576844,  1.85578438, ...,  1.63029938,
         1.24819724,  1.03642466],
       [ 4.22917182,  3.30570541,  2.98416978, ...,  2.42791332,
         1.6336846 ,  1.82367156],
       [ 4.17188729,  3.13417841,  3.02149199, ...,  2.31586993,
         1.37950115,  1.96197129]])

In [40]:
total_count = 0
total_error = 0
for u in range(N):
    err_u = 0
    rateCount_u = 0
    for j in range(M):
        if datMat[u,j] > 0:
            rateCount_u += 1
            err_u += abs(np.dot(newP[u], newQ[j])-datMat[u,j])
    total_count += rateCount_u
    total_error += err_u
print "Overal MAE: %0.3f" % (total_error/total_count)

Overal MAE: 0.858